<!--<meta http-equiv="refresh" content="0; URL='getAllQuestions'">-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Question</title>
</head>
<body>
<h2>Create a New Question</h2>

<form th:action="@{/questions/create}" method="post">
    <label for="question">Question:</label>
    <textarea id="question" name="question" required></textarea>

    <h3>Answers:</h3>
    <div th:each="answer, iterStat : ${answers}">
        <label th:for="${'answer_' + iterStat.index}">Answer <span th:text="${iterStat.index + 1}"></span>:</label>
        <input type="text" th:id="${'answer_' + iterStat.index}" name="answers[${iterStat.index}].text" required />
        <label>
            <input type="checkbox" name="answers[${iterStat.index}].correct" />
            Correct
        </label>
        <br/>
    </div>

    <button type="submit">Create Question</button>
</form>
</body>
</html>
