<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Question</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div class="container">
<h2>Add Question</h2>
<form action="#" th:action="@{/addQuestion}" th:method="post">
  <label for="question">Question:</label>
  <input type="text" id="question" name="question" required class="form-control mb-3 w-80" placeholder="Question">

  <label for="a">Option A:</label>
  <input type="text" id="a" name="a" required class="form-control mb-2 w-50" placeholder="A" >

  <label for="b">Option B:</label>
  <input type="text" id="b" name="b" required class="form-control mb-2 w-50" placeholder="B" >

  <label for="c">Option C:</label>
  <input type="text" id="c" name="c" required class="form-control mb-2 w-50" placeholder="C">

  <label for="d">Option D:</label>
  <input type="text" id="d" name="d" required class="form-control mb-2 w-50" placeholder="D">

  <label for="e">Option E:</label>
  <input type="text" id="e" name="e" required class="form-control mb-2 w-50" placeholder="E">

  <label for="ans">Correct Answer:</label>
  <input type="text" id="ans" name="ans" required class="form-control mb-2 w-25" placeholder="ANSWER">

  <button type="submit" class="btn btn-info col-2">Submit</button>
</form>
<hr>
<button type="submit" class="btn btn-primary col-5"  th:href="@{/getAllQuestions}">Back to Question List</button>
</div>
</body>
</html>
