<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Question</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div  th:if="${message}" class="alert alert-success">
  <p th:text="${message}"></p>
</div>
<div class="container">
<h2>Add Question</h2>
<form action="#" th:action="@{/addQuestion}" th:method="post">
  <label for="question">Question:</label>
  <input type="text" id="question" name="question" required class="form-control mb-3 w-80" placeholder="Question">

  
  <input type="text" id="a" name="a" required class=" mb-2 w-50" placeholder="A" >
  <input type="checkbox"  name="checkA">
  <br/>

  
  <input type="text" id="b" name="b" required class=" mb-2 w-50" placeholder="B" >
  <input type="checkbox"  name="checkB"/>
  <br/>

  
  <input type="text" id="c" name="c" required class=" mb-2 w-50" placeholder="C">
  <input type="checkbox"  name="checkC"/>
  <br/>

  
  <input type="text" id="d" name="d" required class=" mb-2 w-50" placeholder="D">
  <input type="checkbox"  name="checkD"/>
  <br/>

  
  <input type="text" id="e" name="e" required class=" mb-2 w-50" placeholder="E">
  <input type="checkbox"  name="checkE"/>
  <br/>

  
  <label for="author">Author:</label>
  <select id="author" name="author" required class="form-control mb-2 w-25">
    <option value="" disabled selected>Select an Author</option>
    <option th:each="authorOption : ${authors}" th:value="${authorOption.id}" th:text="${authorOption.name}"></option>
  </select>

  <div th:if="${author != null}">
    <p th:text="${author.name}"></p>
  </div>

  <button type="submit" class="btn btn-info col-2">Submit</button>
</form>
<hr>

  <a th:href="@{/getAllQuestions}"  class="btn btn-primary btn-sm"> Back to Question List</a>

</div>
</body>
</html>
