<!DOCTYPE HTML>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>Company Directory</title>
</head>

<body>

<div class="container">

  <h3>Company Directory</h3>
  <hr>

  <!--	Add a button   -->
  <a th:href="@{/}"
     class="btn btn-primary btn-sm mb-3">
    << Back
  </a>


  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th> id </th>
      <th> Name </th>
      <th> Grade </th>
    </tr>
    </thead>

    <tbody>

    <tr th:each=" author : ${authors}">
      <td th:text="${author.id}" />
      <td th:text="${author.name}" />
      <td th:text="${author.grade}" />

      <!--				<td th:text="${cars.customer.name}" />-->

<!--      <td>-->
<!--        <a th:href="@{/addCar(carId=${car.id})}"-->
<!--           class="btn btn-info btn-sm">-->
<!--          Update</a>-->

<!--        &lt;!&ndash;					&lt;!&ndash;		Add "delete" button/link			&ndash;&gt;&ndash;&gt;-->
<!--        <a th:href="@{/deleteCar(carId=${car.id})}"-->
<!--           class="btn btn-danger btn-sm"-->
<!--           onclick="if (!(confirm('Are you sure you want to delete this car?'))) return false">-->
<!--          Delete-->
<!--        </a>-->
<!--      </td>-->

    </tr>
    </tbody>
  </table>

  <a th:href="@{/addAuthorPage}"
     class="btn btn-info btn-sm">
    Add Author</a>


  <a th:href="@{/quiz}"
     class="btn btn-primary btn-sm">
    Start Quiz
  </a>

</div>

</body>
</html>