<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link rel="stylesheet" href="styles.css">-->
  <title>Quiz Page</title>
</head>
<body>
<div class="quiz-container" id="quiz-container">
  <!-- Thymeleaf iteration to display quiz questions -->
  <div th:each="question, questionStat : ${questions}" th:id="'question-container-' + ${questionStat.index}">
    <h2 th:text="${question.question}"></h2>
    <div class="options-container" th:id="'options-container-' + ${questionStat.index}">
      <!-- Thymeleaf iteration to display quiz options -->
      <div th:each="option, optionStat : ${question.options}" class="option" th:id="'option-' + ${questionStat.index} + '-' + ${optionStat.index}" th:text="${option}"></div>
    </div>
  </div>
  <button onclick="submitAnswer()">Submit Answer</button>
  <div id="result-container"></div>
</div>

<script src="quiz.js"></script>
</body>
</html>
